# Environment
.env
Back-End/.env

# Python
venv/
Back-End/venv/
__pycache__/
*.pyc

# Django
db.sqlite3
media/

!media/
!media/logo/
!media/logo/Logo Vertical.png

staticfiles/

# Node
node_modules/
Front-End/node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db