.section {
  position: relative;
}

.about-us-head {
  .section-head {
    a {
      background-color: #0167f3;
      color: #fff;
      padding: 10px 25px;
      transition: all 0.3s ease-out 0s;
    }

    a:hover {
      background-color: #081828;
    }
  }
}

.our-story {
  .content-right {
    padding: 0 50px;
    h2 {
      font-size: 30px;
      line-height: 35px;
      font-weight: 800;
      padding-bottom: 20px;
      margin-bottom: 20px;
      position: relative;
      color: #212529;
    }
    h2::before {
      position: absolute;
      left: 50%;
      bottom: 0;
      content: "";
      background-color: #0167f3;
      height: 2px;
      width: 50px;
      margin-left: -25px;
      border-radius: 2px;
    }

    h5 {
      color: #212529;
    }

    p {
      font-size: 16px;
      color: #888;
      margin-top: 1rem;
    }
  }

  .content-left {
    img {
      border-radius: 10px;
    }
  }
}

.values {
  .single-value {
    text-align: center;
    margin-top: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    background-color: #fff;
    border-image: initial;
    border-radius: 4px;
    padding: 35px;
    transition: all 0.3s ease;

    .icon {
      width: 50px;
      height: 50px;
      border: 2px solid inherit;
      background-color: #3d8eff36;
      border-radius: 50%;
      color: #0167f3;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      svg {
        font-size: 26px;
      }
    }

    .content {
      margin-top: 20px;

      h3 {
        font-weight: 600;
        font-size: 20px;
      }

      h5 {
        font-size: 16px;
        margin-top: 5px;
        color: rgb(136, 136, 136);
      }
    }
  }

  .single-value:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}

.shopping {
  background-image: url(../assets/about-us/shopping.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  border-radius: 20px;

  h2 {
    font-size: 34px;
    line-height: 35px;
    font-weight: 800;
    padding-bottom: 20px;
    margin-bottom: 30px;
    position: relative;
    color: #212529;
  }

  h2::before {
    position: absolute;
    left: 50%;
    bottom: 0;
    content: "";
    background-color: #0167f3;
    height: 2px;
    width: 50px;
    margin-left: -25px;
    border-radius: 2px;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #212529;
  }

  .btns {
    a:first-of-type {
      background-color: #0167f3;
      color: #fff;
      padding: 10px 25px;
      transition: all 0.3s ease-out 0s;
    }

    a:first-of-type:hover {
      background-color: #081828;
    }

    a {
      background-color: #fff;
      color: #0167f3;
      padding: 10px 25px;
      transition: all 0.3s ease-out 0s;
    }

    a:hover {
      background-color: #0167f3;
      color: #fff;
    }
  }
}
