.fav {
  background-color: #f9f9f9;

  .cart-list-head {
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #eee;

    .cart-list-title {
      background-color: #fff;
      padding: 18px 20px;
      border-bottom: 1px solid #eee;

      p {
        color: #081828;
        font-weight: 500;
        font-size: 14px;
        margin: 0;
      }
    }

    .cart-single-list {
      padding: 30px 20px;
      background-color: #fff;
      border-bottom: 1px solid #eee;

      p {
        color: #888;
        margin: 0;
      }

      img {
        max-width: 100%;
      }

      .product-name {
        a {
          font-size: 18px;
          color: #333;
          font-weight: 500;
        }

        a:hover {
          color: #0167f3;
        }
      }

      .product-desc {
        display: block;

        span {
          font-size: 16px;
          font-weight: 500;
          display: block;
          color: #888;

          em {
            font-style: normal;
            color: #555;
          }
        }

        span:hover {
          color: #0167f3;
        }
      }

      .remove-item {
        color: #fff;
        background-color: #f44336;
        font-size: 8px;
        height: 20px;
        width: 20px;
        line-height: 20px;
        border-radius: 50%;
        text-align: center;
        transition: all 0.3s ease;
      }

      .remove-item:hover {
        background-color: #081828;
      }

      .btn {
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        padding: 13px 30px;
        background-color: #0167f3;
        color: #fff;
        border: none;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        border-radius: 3px;
        position: relative;
        z-index: 1;
        margin-right: 7px;
        overflow: hidden;
        width: fit-content !important;
      }

      .btn:hover {
        background-color: #081828;
      }
    }
  }
}

@media (max-width: 767px) {
  .fav {
    p,
    .btn {
      margin: 3px 0;
    }
  }
}

@media (max-width: 767px) {
  .cart-list-title {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .cart-single-list {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .cart-single-list a img {
    width: 50%;
    margin-bottom: 10px;
  }
}
